# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
nots.txt

# <==Time pass wala hai==>

# in components
# Footer.tsx
# LegalPage.tsx

# in page
# AboutPage.tsx
# ContactPage.tsx
# PrivatePolicyPage.tsx
# RefundPolicyPage.tsx
# TermsPage.tsx